@font-face {
  font-family: "iconfont"; /* Project id 4444871 */
  src: url('iconfont.woff2?t=1708939730480') format('woff2'),
       url('iconfont.woff?t=1708939730480') format('woff'),
       url('iconfont.ttf?t=1708939730480') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_pause:before {
  content: "\e627";
}

.icon-pm-query-:before {
  content: "\e636";
}

.icon-paused:before {
  content: "\e793";
}

